*{
    box-sizing: border-box
}
ul{
    list-style: none
}
body{
    line-height: 1.5
}
.clearfix:after{
    content: ' ';
    display: block;
    clear: both;
}
.container{
    padding: 7% 5% 0 5%;
}
#menu{
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background: rgba(188, 25, 68, .4)
}
#menu ul{
    float: right;
    margin: 0;
}
#menu li{
    width: 88px;
    float: left;
    line-height: 3.5;
    border: none;
}
#menu a{
    text-decoration: none;
    display: block;
    height: 100%;
    text-align: center
}
#menu li:hover{
    box-shadow: 0 8px 26px -8px rgba(131, 24, 24, 0.3);
}
#menu .github-link{
    background: url(/img/1.jpg) center/cover no-repeat;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    margin: 7px 0 0 7px
}
#menu .github-link a{
    width: 100%;
    height: 100%;
}
.personal-intro{
    padding:17% 0 0 0;
    text-align: center
}
.personal-intro .motto{
    border-bottom: 2px solid rgba(210, 210, 210, .7);
    width: 40%;
    line-height: 1.5;
    padding: 1% 0;
    margin: auto;
    color: rgba(210, 210, 210, .9);
    font-size: 21px;
    text-shadow: 1px 1px 2px #aaa;
    margin-bottom: 15px
}
.personal-intro .name{
    line-height: 2.5;
    font-weight: 700;
    font-size: 20px
}
.avatar{
    
    margin: 0 auto;
    width: 95px;
    height: 95px;
    overflow: hidden;
    border-radius: 50%
}
.avatar>img{
    width: 100%
}
.personal-intro .personal{
    
    line-height: 2.5;
    font-weight: 700;
    font-size: 20px;
    padding: 0 10%
}
.tenoStack .master{
    margin-bottom: 8%;
    line-height: 2
}
.tenoStack .master .content .item{
    text-indent: 15px;
    padding-left: 15px
}
.tenoStack .master .content .item,
.expriences .example-panel .teno{
    font-size: 18px;
}
.tenoStack .masterShow{
    width: 266px;
    height: 266px;
    position: relative;
    float: left;
}
.tenoStack .interest .content-list .item{
    margin-bottom:  15px;
    text-indent: 71px
}
.tenoStack .masterShow .base,
.tenoStack .masterShow .base .item,
.tenoStack .masterShow .advanced .item{
    border-radius: 50%;
    font-size: 12px
}
.tenoStack .masterShow .base,
.tenoStack .masterShow .advanced{
    position: absolute;
    border-radius: 50%
}
.tenoStack .masterShow .base{
    width: 150px;
    height: 150px;
    border: 6px dashed rgba(0,0,0,.4);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.tenoStack .masterShow .base .item{
    position: absolute;
    top: 0;
    left: 50%;
    
    margin: -21px 0 0 -21px;
    width: 42px;
    height: 42px;
    /* border: 1px solid #111; */
    transform-origin: 50% 96px;
}
.tenoStack .masterShow .base .item span,
.tenoStack .masterShow .advanced .item span{
    width: 100%;
    height: 100%;
    display: block;
    animation: inherit;
}
.tenoStack .masterShow .advanced .item span{
    animation-direction: normal
}
.tenoStack .masterShow .base .item span{
    animation-direction: reverse
}
.tenoStack .masterShow .base .item span{
    line-height: 3.5
}
.tenoStack .masterShow .advanced .item span{
    line-height: 4
}
@keyframes spin{
    to{
        transform: rotate(1turn)
    }
}
@keyframes spin60{
    from{
        transform: rotate(60deg)
    }
    to{
        transform: rotate(420deg)
    }
}
@keyframes spin-60{
    from{
        transform: rotate(-60deg)
    }
    to{
        transform: rotate(-420deg)
    }
}

@keyframes spin90{
    from{
        transform: rotate(90deg)
    }
    to{
        transform: rotate(450deg)
    }
}
@keyframes spin-90{
    from{
        transform: rotate(-90deg)
    }
    to{
        transform: rotate(-450deg)
    }
}
@keyframes spin120{
    from{
        transform: rotate(120deg)
    }
    to{
        transform: rotate(480deg)
    }
}
@keyframes spin-120{
    from{
        transform: rotate(-120deg)
    }
    to{
        transform: rotate(-480deg)
    }
}
@keyframes spin180{
    from{
        transform: rotate(180deg)
    }
    to{
        transform: rotate(540deg)
    }
}
@keyframes spin-180{
    from{
        transform: rotate(-180deg)
    }
    to{
        transform: rotate(-540deg)
    }
}
@keyframes spin240{
    from{
        transform: rotate(240deg)
    }
    to{
        transform: rotate(600deg)
    }
}
@keyframes spin-240{
    from{
        transform: rotate(-240deg)
    }
    to{
        transform: rotate(-600deg)
    }
}
@keyframes spin270{
    from{
        transform: rotate(270deg)
    }
    to{
        transform: rotate(630deg)
    }
}
@keyframes spin-270{
    from{
        transform: rotate(-270deg)
    }
    to{
        transform: rotate(-630deg)
    }
}
@keyframes spin300{
    from{
        transform: rotate(300deg)
    }
    to{
        transform: rotate(660deg)
    }
}
@keyframes spin-300{
    from{
        transform: rotate(-300deg)
    }
    to{
        transform: rotate(-660deg)
    }
}

.tenoStack .masterShow .advanced{
    width: 100%;
    height: 100%;
    border: 6px dashed rgba(0,0,0,.4);
}
.tenoStack .masterShow .base .item,
.tenoStack .masterShow .advanced .item{
    text-align: center;
    animation: spin 10s infinite linear;
}
.tenoStack .masterShow .advanced .item{
    position: absolute;
    top: 0;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    /* border: 1px solid #111; */
    transform-origin: 50% 158px;
    animation-direction: reverse
}

.tenoStack .masterShow .base .item:nth-child(1){
    background: rgba(226, 76, 37,.4);
}
.tenoStack .masterShow .base .item:nth-child(2){
    background: rgba(60, 153, 220,.4);
    animation-name: spin90
}
.tenoStack .masterShow .base .item:nth-child(2) span{
    animation-name: spin-90;
    animation-direction: normal
}
.tenoStack .masterShow .base .item:nth-child(3){
    animation-name: spin180;
    background: rgba(207, 6, 74,.4)
}
.tenoStack .masterShow .base .item:nth-child(3) span{
    animation-name: spin-180;
    animation-direction: normal
}
.tenoStack .masterShow .base .item:nth-child(4){
    animation-name: spin270;
    background: rgba(7, 105, 173,.4)
}
.tenoStack .masterShow .base .item:nth-child(4) span{
    animation-name: spin-270;
    animation-direction: normal
}

.tenoStack .masterShow .advanced .item:nth-child(1){
    background: rgba(195, 0, 47,.4)
}
.tenoStack .masterShow .advanced .item:nth-child(2){
    animation-name: spin120;
    background: rgba(65, 184, 131,.4)
}
.tenoStack .masterShow .advanced .item:nth-child(2) span{
    animation-name: spin-120;
    animation-direction: reverse
}
.tenoStack .masterShow .advanced .item:nth-child(3){
    animation-name: spin180;
    background: rgba(142, 214, 251,.4)
}
.tenoStack .masterShow .advanced .item:nth-child(3) span{
    animation-name: spin-180;
    animation-direction: reverse
}
.tenoStack .masterShow .advanced .item:nth-child(4){
    animation-name: spin240;
    background: rgba(128, 189, 1,.4)
}
.tenoStack .masterShow .advanced .item:nth-child(4) span{
    animation-name: spin-240;
    animation-direction: reverse
}
.tenoStack .masterShow .advanced .item:nth-child(5){
    animation-name: spin60;
    background: rgba(24, 47, 81,.4)
}
.tenoStack .masterShow .advanced .item:nth-child(5) span{
    animation-name: spin-60;
    animation-direction: reverse
}
.tenoStack .masterShow .advanced .item:nth-child(6){
    animation-name: spin300;
    background: rgba(245, 77, 39,.4)
}
.tenoStack .masterShow .advanced .item:nth-child(6) span{
    animation-name: spin-300;
    animation-direction: reverse
}

.interest{
    float: left;
    margin-right: 36%
}
/* @media screen and (min-width: 900px){
    .col-lg-2{
        width: 50%;
    }
} */
.expriences .title,
.tenoStack .title,
.contact .title{
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: 500;
    line-height: 2
}
.expriences .example-panel{
    width: 370px;
    height: 280px;
    border: 1px solid #eee;
    float: left;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .4);
    transition: box-shadow .5s;
    margin-bottom: 15px
}
.expriences .example-panel:hover{
   
    box-shadow: 0 4px 15px rgba(0, 0, 0, .5)
}
.expriences .example-panel:not(:first-child){
   margin-left: 15px
}
.expriences .example-panel .title{
   text-align: center;
   line-height: 2.5;
   border-bottom: 1px solid #ccc
}
.expriences .example-panel .teno{
    text-indent: 5%;
    padding: 10px
}
.contact{
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.contact .title{
    margin-bottom: 64px
}
.contact .content{
    padding: 0 68px;
    flex: 1
}
.contact .content .item{
    float: left;
}
.contact .content .item:not(:first-child){
    margin-left: 19%
}
.contact .content .item a{
    font-size: 98px;
    text-decoration: none
}
.contact .content .item .github{
    
    color: black
}
.contact .content .item .wechat{
    color: #025D00;
}
.contact .content .item .qq{
    color: #388BFF;
}
.contact .content .item .weibo{
    color: #E32428;
}
.contact .content .item .address{
    font-size: 16px;
    display: block;
    text-align: center
}
.contact .footer{
    text-align: center;
    padding: 4% 0 2%;
    border-top: 1px solid #ddd
}