@media screen and (max-width:440px){
    #menu ul{
        width: 100%;
        padding: 0
    }
    #menu li{
        width: 25%;

    }
    #menu .github-link{
        display: none;
    }
    .container{
        padding-top: 16%
    }
    .expriences .example-panel{
        width: 90%;
        height: 27%;
    }
    .expriences .example-panel .title{
        line-height: 2
    }
    .tenoStack .master {
        margin-bottom: 22%;
    }
    .expriences .title, .tenoStack .title, .contact .title {
        margin-bottom: 5px;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.5;
    }
    .expriences .example-panel .teno {
        padding: 0 10px;
    }
    .tenoStack .master .content .item, .expriences .example-panel .teno {
        font-size: 14px;
    }
    .tenoStack .master {
    
        line-height: 2;
    }
    .contact .content .item:not(:first-child) {
        margin-left: 0;
    }
    .contact .content .item a {
        font-size: 64px;
    }
    .contact .content .item {
        float: none;
    }
    .contact .title {
        margin-bottom: 18px;
    }
  
    #fp-nav.right {
        right: 3px;
    }
    .contact .content .item .address{
        text-align: left
    }
    .contact .content .item{
        position: relative;
    }
    .contact .content .wechat+.code{
        display: none
    }
    .contact .content .wechat+.code{
        position: absolute;
    }
    .contact .content .wechat:hover+.code{
        top: 0;
        right: -15px
    }
}